body {
	margin:0;
	padding:0;
	font-size:10pt;
	font-family: 'Malgun Gothic', Gulim,GulimChe,Dotum;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
}

.title {
	padding:1em;
	font-size:1.4em;
	background-color:#c9dfdf;
}
.title.form {
	padding:0 0 1em;
	background-color:white;
	color:blue;
}
.title.form .text {
	padding-top:0.4em;
	float:left;
	color:#342360;
}
.title.form .image {
	float:right;
}
.title.form .line {
	border-bottom:1px solid grey;
}


.note {
	padding:0.6em;
	font-size:1.2em;
	background-color:#e9e9e9;
}


.form.note {
	margin-bottom:1.4em;
	background-color:#473577;
	color:white;
	font-size:10pt;
}

.caption {
	color:blue;
	padding:0.5em;
	font-size:1.4em;
	background-color:#dfdfdf;
}
.value {
}

.choose-car-brand .value span {
	display:inline-block;
	margin:1em 0;
	padding:1em;
	background-color:#d6d7e2;
	cursor:pointer;
	color:#292929;
}


.choose-car-brand  input {
	font-family: 'Malgun Gothic', Gulim,GulimChe,Dotum;
	font-size: 1em;
	padding: 0.4em;
	border: 2px solid grey;
	border-radius:2px;
}
.choose-car-brand  input[name='keyword'] {
	width:50%;
}



.search-result span {
	font-size:0.8em;
}